/* regole generali */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* navbar blu */
.navbarblu{
  width: 100%;
  padding: 0 50px;
  background-color: #2e62a6;
  border-top: 2px solid #fc8c03;
}

.navbarblu::after{
  content: "";
  display: table;
  clear: both;
}

.navbarblu li{
  display: inline-block;
  text-align: center;
}

.navbarblu .navleft{
  width: 40%;
  float: left;
}

.fa-hubspot{
  color: #fc8c03;
  font-size: 20px;
}

.navbarblu .fa-sort-down{
  color: #fff;
}

.navbarblu .navleft a{
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 14px;
}

.navbarblu .navleft .iconlogo{
  padding: 0px;
  padding-right: 14px;
}

.navbarblu .navright{
  width: 40%;
  float: right;
  text-align: right;
}

.fa-search, .fa-cog, .fa-user-circle{
  color: #000;
  font-size: 18px;
}

.navbarblu .navright a{
  display: inline-block;
  font-family: 'Muli', sans-serif;
  padding: 12px 20px;
}

.navbarblu .navright li:nth-child(3){
  border-left: 1px solid #b0b0b0;
}

.navbarblu .navright li:last-child a{
  color: #fff;
}

/* navbar grigia */
.navbargrey{
  width: 100%;
  padding: 0 50px;
  background-color: #d6d6d6;
}

.navbargrey::after{
  content: "";
  display: table;
  clear: both;
}

.navbargrey li{
  display: inline-block;
  text-align: center;
}

.navbargrey .navleft{
  width: 40%;
  float: left;
}

.navbarblu .navleft a{
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 14px;
}

.navbargrey .navleft a{
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  color: #666;
  margin: 20px 0;
  padding: 0 20px;
}

.navbargrey .fa-globe-europe, .fa-sort-down{
  color: #666;
}

.navbargrey .navleft li:last-child a{
  border-left: 1px solid #b0b0b0;
}