/* regole generali */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* navbar blu */
.navbarblu{
  width: 100%;
  padding: 0 50px;
  background-color: #2e62a6;
  border-top: 2px solid #fc8c03;
}

.navbarblu::after{
  content: "";
  display: table;
  clear: both;
}

.navbarblu li{
  display: inline-block;
  text-align: center;
}

.navbarblu .navleft{
  width: 40%;
  float: left;
}

.fa-hubspot{
  color: #fc8c03;
  font-size: 20px;
}

.navbarblu .fa-sort-down{
  color: #fff;
}

.navbarblu .navleft a{
  display: inline-block;
  font-size: 12px;
  color: #fff;
  padding: 14px;
}

.navbarblu .navleft .iconlogo{
  padding: 0px;
  padding-right: 14px;
}

.navbarblu .navright{
  width: 40%;
  float: right;
  text-align: right;
}

.fa-search, .fa-cog, .fa-user-circle{
  color: #000;
  font-size: 18px;
}

.navbarblu .navright a{
  display: inline-block;
  padding: 12px 20px;
}

.navbarblu .navright li:nth-child(3){
  border-left: 1px solid #b0b0b0;
}

.navbarblu .navright li:last-child a{
  color: #fff;
}

/* navbar grigia */
.navbargrey{
  width: 100%;
  padding: 0 150px;
  background-color: #d6d6d6;
}

.navbargrey::after{
  content: "";
  display: table;
  clear: both;
}

.navbargrey li{
  display: inline-block;
  text-align: center;
}

.navbargrey .navleft{
  width: 40%;
  float: left;
}

.navbargrey .navleft a{
  display: inline-block;
  font-size: 12px;
  color: #666;
  margin: 20px 0;
  padding: 0 20px;
}

.navbargrey .fa-globe-europe, .fa-sort-down{
  color: #666;
}

.navbargrey .navleft li:last-child a{
  border-left: 1px solid #b0b0b0;
}

.navbargrey .navright{
  width: 40%;
  float: right;
  text-align: right;
}

.getorange{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #fd7b5e;
  padding: 10px 20px;
  border: 2px solid #000;
  margin-top: 3px;
}

/* navbarwhite */
.navbarwhite{
  width: 100%;
  padding: 0 150px;
}

.navbarwhite::after{
  content: "";
  display: table;
  clear: both;
}

.navbarwhite li{
  display: inline-block;
  text-align: center;
}

.navbarwhite .navleft{
  width: 40%;
  float: left;
}

.navbarwhite .navright{
  width: 40%;
  float: right;
  text-align: right;
}

.navbarwhite .navright a{
  display: inline-block;
  font-size: 12px;
  color: #666;
  padding: 15px;
}

.navbarwhite .navleft a{
  display: inline-block;
  padding-top: 8px;
}

/* section1 */
.section1{
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
}

.textsection1{
  padding: 100px 45% 200px 150px;
}

.textsection1 h2{
  font-size: 50px;
  color: #2e62a6;
  margin-bottom: 40px;
}

.textsection1 p{
  font-size: 14px;
  color: #2e62a6;
  margin-bottom: 50px;
}

.getwhite{
  color: #2e62a6;
  padding: 20px 25px;
  background-color: #ededed;
  border-radius: 5px;
}

/* section2 */
.section2{
  width: 100%;
  background-color: #ededed;
  padding: 0 150px;
}

.textsection2{
  text-align: center;
  padding-top: 50px;
}

.textsection2 img{
  width: 280px;
}

.textsection2 h3{
  font-size: 40px; 
  font-weight: 800;
  margin-bottom: 25px;
}

.textsection2 p{
  padding: 0 80px;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 75px;
}

/* largebox */
.section2 .largebox{
  background-color: #fff;
  margin-bottom: 25px;
}

.section2 .largebox::after{
  content: "";
  display: table;
  clear: both;
}

.section2 .largebox .left{
  text-align: center;
  width: 40%;
  float: left;
  padding: 40px 120px 25px;
}

.learnmore{
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  background-color: #fd7b5e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.section2 .largebox .right{
  width: 60%;
  float: left;
  padding: 60px 25px 25px;
}

.section2 .largebox .right h4{
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 800;
}

.section2 .largebox .right p{
  font-size: 16px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.section2 .largebox .right li{
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  padding-right: 10px;
}

.fa-check-circle{
  color: #fd7b5e;
}

/* 3colonne */
.containersection2::after{
  content: "";
  display: table;
  clear: both;
}

.section2 .leftbox{
  width: 32%;
  background-color: #fff;
  float: left;
  text-align: center;
  margin-right: 2%;
  padding: 25px;
}

.containersection2 img{
  height: 120px;
}

.containersection2{
  padding-bottom: 50px;
}

.containersection2 h4{
  font-size: 16px;
  padding: 0 0 20px;
}

.containersection2 p, li{
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}

.containersection2 .separator{
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.section2 .centerbox{
  width: 32%;
  background-color: #fff;
  float: left;
  text-align: center;
  margin-right: 2%;
  padding: 25px;
}

.section2 .rightbox{
  width: 32%;
  background-color: #fff;
  float: left;
  text-align: center;
  padding:25px;
}

/* section3 */
.section3{
  width: 100%;
  background-image: linear-gradient(to bottom left, #1ebca4 0%, #1aa7b7 100%);
  text-align: center;
  color: #fff;
}

/* testo */
.textsection3{
  padding: 60px 300px;
}

.textsection3 h3{
  font-size: 25px;
}

.textsection3 p{
  font-size: 16px;
  padding: 25px 0;
  opacity: 0.6;
}

/* tabella */
.section3 .table{
  width: 100%;
  padding: 0 100px 50px;
}

.section3 .table::after{
  content: "";
  display: table;
  clear: both;
}

.section3 .boxtable{
  width: 25%;
  float: left;
  padding: 25px 0;
}

.section3 .table h2{
  padding: 5px 0;
}

.section3 .table p{
  font-size: 14px;
  opacity: 0.6;
}

.section3 .boxtable:nth-child(-n+4){
  border-bottom: 2px solid #fff;  
}

.section3 .boxtable:nth-child(-n+3){
  border-right: 1px solid #fff;
}

.section3 .boxtable:nth-child(n+5):nth-child(-n+7){
  border-right: 1px solid #fff;
}

/* section4 */
.section4{
  width: 100%;
  padding: 60px 200px;
  margin-bottom: 120px;
}

.section5::after{
  content: "";
  display: table;
  clear: both;
}

.textsection4{
  width: 35%;
  float: left;
  margin-right: 10%;
}

.textsection4 h2{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}

.textsection4 p{
  font-size: 14px;
  opacity: 0.6;
}

.imgsection4{
  width: 55%;
  float: left;
}

.imgsection4::after{
  content: "";
  display: table;
  clear: both;
}

.imgsection4 .allign{
  width: 23%;
  margin-left: 2%;
  padding: 10px;
  float: left;
  line-height: 40px;
}

.imgsection4 img{
  width: 100%;
}

/* section5 */
.section5{
  width: 100%;
  padding: 60px 200px;
}

.section5::after{
  content: "";
  display: table;
  clear: both;
}

.textsection5{
  width: 50%;
  float: left;
}

.textsection5 h2{
  text-transform: capitalize;
  font-size: 35px;
  margin-bottom: 25px;
}

.textsection5 p{
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 25px;
}

.textsection5 .getorange{
  border: none;
  padding: 20px 30px;
}

.imgsection5{
  text-align: right;
  width: 50%;
  float: left;
  padding-right: 150px;
}

.imgsection5 img{
  height: 200px;
  background-color: #fd7b5e;
  border-radius: 50%;
}

/* footer */
footer{
  width: 100%;
  background-color: #34475a;
}

/* bottom */
.bottom{
  color: #fff;
  padding: 25px 50px;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
}

.bottom::after{
  content: "";
  display: table;
  clear: both;
}

.bottomleft{
  width: 50%;
  float: left;
}

.bottomleft p{
  font-size: 12px;
  opacity: 0.6;
}

.bottomright{
  width: 50%;
  float: right;
  text-align: right;
}

.bottomright a{
  color: #fff;
  opacity: 0.6;
  margin: 10px 25px;
}